.reportColor {
    background-color: burlywood;
    background-image: url('patronHuellitas.png');
    background-position: left;
    background-size: 600px 600px;
    margin: 0;
}
.reportContainer {
    background-color: rgb(255, 255, 255); /* Fondo blanco con transparencia */
    color: #333;
    padding: 0;
    margin: 0%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    left:5%; 
    top:40%;
    height: 70%;
    width: 80%;
}
table {
    position:absolute;
    width: 95%;
    right:2.7%;
    top:3%;
}
td {
    text-align: start;
}
.tituloTabla {
    background-color: dimgray;
    width: 100%;
    height:15%; 
    position: fixed;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
h1 {
  display:flex;
  justify-content: start;
  position: absolute;
  left: 16%;  
  font-size: 300%;
  padding: 0px;
  bottom: 20px;
  margin-bottom: 1%;
  color: white;
  text-shadow:2px 2px 4px gray;
}
.buttonsSet {
    position: absolute;
    top:40%;
    left: 86%;
    height: 18%;
    width: 15%;
}
button {
    display:flex;
    justify-content: center;
    width: 80%;
    height: 50%;
    margin: 15%;
    margin-bottom: 20%;
    margin-left: 0;
    padding: 0;
    padding-bottom: 8%;
    border-radius: 10px;
    top: 90%;
    right: 50%;
    display: flex;
    align-items: end;
    color:rgb(255, 255, 255);
    font-size: large;
}
footer {
    position: absolute;
    bottom: -30%;
}