body {
    background-color:rgb(143, 194, 226);
}
h1 {
    color:black; 
    font-size: 40px;
    font-family: monospace;
}
.slide-in {
    position: relative;
    animation: slide-in 1s forwards; /* Duración de la animación */
}
@keyframes slide-in {
    from {
        transform: translateX(-100%); /* Comienza fuera de la pantalla a la izquierda */
        opacity: 0; /* Comienza invisible */
    }
    to {
        transform: translateX(0); /* Termina en su posición original */
        opacity: 1; /* Termina visible */
    }
}
.container {
    background-color: white;
    margin-left: 430px;
    margin-right: 430px;
    border-radius: 10%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 470px;
    height: 500px;
}
#container1 {
opacity: 0;
transition: 3s ease;
height: 400px;
}
.logo {
    width: 370px; 
    height: 150px; 
    margin-top: 35px;
}
.image1 {
    display:flex; 
    justify-content: center;
    margin-bottom: 60px;
    margin-top: -80px;

}
.labelUser, .labelPassword {
    font-family: monospace;
    color:black; 
    font-size: 25px;
    font-style:italic;
    font-style:unset;
    display: flex; 
    flex-direction: right;
    top: 80px;
}
.login {
    display: flex;
    justify-content: center;
}
input[type="submit"] {
    width: 150px;
    height: 50px;
    font-size: 20px; 
    background-color:rgb(146, 66, 66);
    color: white;
    transition: background-color 0.5s ease;
}
input[type="submit"]:hover {
    background-color: rgb(82, 210, 214);
}
.btAcceder {
    display: flex;
    justify-content: center;
}
input[type="text"] {
    width: 400px;
    height: 25px;
    font-size: 20px;
    position: relative;
    bottom: -10px;
 
}
input[type="password"] {
        width: 400px;
        height: 25px;
        font-size: 20px;
        position: relative; 
        bottom: -10px;
}
.footerLogin {
    display: flex;
    justify-content: center;
    position: relative;
    top: 60px;

}
.container2 {
    position: relative;
    bottom: 75px; 
}



